MINIO_ROOT_USER=loki
MINIO_ROOT_PASSWORD=supersecret
MINIO_PROMETHEUS_AUTH_TYPE=public
MINIO_UPDATE=off
GF_PATHS_PROVISIONING=/etc/grafana/provisioning
GF_AUTH_ANONYMOUS_ENABLED=true
GF_AUTH_ANONYMOUS_ORG_ROLE=Admin